<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
          <meta charset="UTF-8">
          <title>National "Stupid National Food Holiday" Day</title>
          <link rel="stylesheet" href="/static/style.css">
          <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    </head>
    <body>
          <div class="nav">
          <form method="POST">
          {% if rating == "1" %}
            5 Star Review: <input type="radio" name="nav" value="5Star">
          {% elif rating == "5" %}
            1 Star Review: <input type="radio" name="nav" value="1Star">
          {% else %}
          {% endif %}

            Prior Holiday: <input type="radio" name="nav" value="Prior">
            Next Holiday: <input type="radio" name="nav" value="Next">

            <input type="submit" name="nav" value="Go / Refresh">
          </form>
          </div>

          <div class="heading">
              <h1>National "Stupid National Food Holiday" Day</h1>
              <h2>{{datestring}} is {{holiday|title}}</h2>
          </div>

          <div class="response">
          {% if error == False %}
            <!-- <h2>Celebrate the holiday with Bon Appetit</h2> -->
            <h3>Here's what reviewers enjoyed about <a href={{href}}>{{recipe}}</a></h3>
            <p class="review">{{review}}</p>

          {% elif error == True %}
                {% if rating == "1" %}
                  <h2>Nobody on Bon Appetit dislikes this holiday.</h2>
                  <p>Try naviating to 5 Star Reviews or another holiday.</p>
                {% elif rating == "5" %}
                  <h2>Nobody on Bon Appetit absolutely loves this holiday.</h2>
                  <p>Try naviating to 1 Star Reviews or another holiday.</p>
                {% else %}
                {% endif %}
          {% else %}
          {% endif %}
          </div>

          <div class="stars">
          {% if error == False %}
              {% if rating == "1" %}
                  <img src="/static/star_yellow_1.png">
                  <img src="/static/star_grey_1.png">
                  <img src="/static/star_grey_1.png">
                  <img src="/static/star_grey_1.png">
                  <img src="/static/star_grey_1.png">
              {% elif rating == "5" %}
                  <img src="/static/star_yellow_5.png">
                  <img src="/static/star_yellow_5.png">
                  <img src="/static/star_yellow_5.png">
                  <img src="/static/star_yellow_5.png">
                  <img src="/static/star_yellow_5.png">
              {% else %}
              {% endif %}
          {% elif error == True %}
              <img src="/static/star_grey_1.png">
              <img src="/static/star_grey_1.png">
              <img src="/static/star_grey_1.png">
              <img src="/static/star_grey_1.png">
              <img src="/static/star_grey_1.png">
          {% else %}
          {% endif %}
              <p>don't celebrate without us...</p>
          </div>
          <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  </body>
  </html>
